@use "sass:color";
@use "../../Styles/variables" as *;
@use "../../Styles/mixins" as *;

.button {
  @include button;
  @include flex-center;

  font-family: $font-body;
  font-size: $font-md;
  font-weight: $medium;
  text-decoration: none;
  white-space: nowrap;
  outline: none;

  &--primary {
    background-color: $text-primary;
    color: $text-light;
    border: 1px solid $text-primary;

    &:hover {
      background-color: color.scale($color, $lightness: 17.0758928571%);
      border-color: color.adjust($color, $lightness: 15%);
      color: $text-light;
    }
  }

  &--secondary {
    background-color: transparent;
    color: $text-primary;
    border: 1px solid $border-color;

    &:hover {
      background-color: $secondary-color;
      border-color: $text-primary;
    }
  }

  &--accent {
    background-color: $accent-color;
    color: $text-primary;
    border: 1px solid $accent-color;

    &:hover {
      background-color: color.scale($color, $lightness: -12.5153374233%); 
      border-color: color.adjust($color, $lightness: -8%);
    }
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
