@use "../../Styles/variables" as *;
@use "../../Styles/mixins" as *;

.header {
  width: 100%;
  background-color: $background-main;
  padding: $space-lg 0;
}

.header__container {
  @include container;
  @include flex-between;
}

.header__logo {
  font-family: $font-heading;
  font-size: $font-xl;
  font-weight: $bold;
  color: $text-primary;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: $primary-color;
  }
}

.header__actions {
  display: flex;
  align-items: center;
  gap: $space-lg;
}

.header__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  color: $text-primary;
  text-decoration: none;
  font-size: $font-xl;

  transition: $transition;

  &:hover {
    color: $primary-color;
  }

  &-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: $primary-color;
    color: $text-light;
    font-family: $font-body;
    font-size: $font-xs;
    font-weight: $bold;
    min-width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}